
      {%extends 'base.html'%} {% load bootstrap4 %} {% load static%}
 
      {% block content %}
       
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="exampleModalLabel">COMMENTS</h5>
       
            </div>
            <div class="modal-body">
              <ul>
                {%if comentdsd %}
                {%for comment in comentdsd%}
                  <li id="comentsKill">
                    <p>{{comment|safe}}</p>
                  </li>
               
                
                
                {% empty %}
                    <div class="row">
                      <h2 class="text-center">There No comments</h2>
                      </div>
                    </div>
                {%endfor%}
                {%else %}
                <p>Loading...</p>
                {%endif%}
              </ul>
          
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>


            {% endblock %}
       
            